<!DOCTYPE html>
<html ng-app="shortURLApp">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/public/js/app.js"></script>
  </head>
  <body class="text-center">
    <header>
      <h3>URL Shortener Microservice</h3>
	  <h5>Enter a valid URL to get an abbreviated code.</h5>
    </header>

    <section ng-controller="shortAppCTRL">
      <input placeholder="Enter URL" ng-model="longURL"/>
      <a class="btn btn-primary" ng-href="/new/{{longURL}}">Shorten URL</a>
    </section>
  </body>
</html>
